* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Yekan", sans-serif !important;
  list-style: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Yekan";
  src: url("../../public/fonts/Yekan.ttf");
}
@font-face {
  font-family: "Lalezar";
  src: url("../../public/fonts/Lalezar-Regular.ttf");
}

@media screen and (min-width: 800px) {
  body::-webkit-scrollbar {
    width: 0.4em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
      274deg,
      rgba(0, 10, 30, 1) 71%,
      rgba(1, 60, 165, 1) 100%
    );
  }

  body::-webkit-scrollbar-thumb {
    background-color: #9999;
    border-radius: 1px;
  }
  /* @supports (scrollbar-color: red blue) {
    * {
      scrollbar-color: rgba(0, 0, 0, 1) #001a40;
    }
  } */
}

body {
  overflow-x: hidden !important;
}

.light {
  background-color: #f0fffd;
  color: #1b1b1b;
}

.dark {
  background-color: #1b1b1b;
  color: #f5fffe;
}
.large {
  scale: 1.1;
}
